@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: 220 38 38; /* #dc2626 */
    --color-primary-alt: 185 28 28; /* #b91c1c */
    --color-secondary: 38 38 38; /* #262626 */
    --color-natural: 245 245 245; /* #f5f5f5 */
    --color-subtitle: 163 163 163; /* #a3a3a3 */
    --color-warning: 245 158 11; /* #f59e0b */
    --color-danger: 214 85 99; /* #d65563 */
    --color-background: 0 0 0; /* #000000 */
    --color-surface: 15 15 15; /* #0f0f0f */
    --color-surface-alt: 27 27 27; /* #1b1b1b */
}

body {
    background-color: rgb(var(--color-background));
    color: rgb(var(--color-natural));
}
