@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #dc2626;
    --color-primary-hover: #b91c1c;
    --color-secondary: #6366f1;
    --color-natural: #f5f5f5;
    --color-subtitle: #a3a3a3;
    --color-warning: #f59e0b;
    --color-danger: #d65563;
    --color-background: #000000;
    --color-surface: #0a0a0a;
    --color-surface-alt: #171717;
    --color-border: #262626;
    --color-overlay: rgba(0, 0, 0, 0.2);
}

body {
    background-color: var(--color-background);
    color: var(--color-natural);
}
